*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact{
    margin-top: 40px;
}

#pic{
    height: 350px;
    width: 100%;
}

header{
    margin-bottom: 40px;
}

body{
    background-color: gold;
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#aboutMe{
    background-color: white;
    padding: 20px;
    margin: 40px auto;
    width: 90%;
}

#text{
    float: left;
}

#toprow{
    margin-bottom: 10px;
}

.portfolio{
    margin: 0px auto 20px auto;
    width: 90%;
    padding: 20px;
}