*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact{
    margin-top: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

#pic{
    height: 350px;
    width: 350px;
    margin-right: 10px;
}

header{
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

/* Min-height set to 100% of the viewport and position set to relative in order to position footer */
body{
    background-color: gold;
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
}

/* Footer's position is absolute, relative to the body, to make sure that it stays at the bottom of each page. */
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#aboutMe{
    background-color: white;
    padding: 20px;
    margin: 40px auto;
    width: 90%;
}

#toprow{
    margin-bottom: 10px;
}

.portfolio{
    margin: 0px auto 20px auto;
    width: 90%;
    padding: 20px;
    background-color: white;
}

.container{
    font-family: 'Source Sans Pro', sans-serif;
}

.hobbypics{
    height: 250px;
    width:250px;
}